{% extends "base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

<style type="text/css">
      .login-block {
        padding: 80px;
      }

      .form-signup {
        max-width: 400px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

      .social-btn {
      padding: 0px 3px 0px 0px;
      }
    </style>
{% block content %}

<div class="container" style="padding-top:50px;">

    <form class="form-signup" method="POST" action="{% url 'account_login' %}">
        <h2>{% trans "Sign In" %}</h2>
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
        {% include 'social_widget.html' %}
        <br>
      {% csrf_token %}
      {{ form|bootstrap }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

      </div>
    </form>
</div>
{% endblock %}


